.container
    gap: 24px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: rgb(14,14,14)
    background-position: center
    background-repeat: no-repeat
    background-size: 100% 100%
    height: 100vh
    width: 100%
    overflow: hidden

    .imgWelcome
        width: 320px
        height: 320px

    .txt1
        font-family: Inter
        font-size: 48px
        font-weight: 700
        line-height: 48px
        letter-spacing: 0em
        text-align: left
        color: rgba(255, 255, 255, 1)

    .txt2
        font-family: Inter
        font-size: 30px
        font-weight: 500
        line-height: 32px
        letter-spacing: 0em
        text-align: left
        color: rgba(209, 209, 219, 1)
    .play
        align-items: center
        background-color: #ff0909
        border-radius: 0.8rem
        box-sizing: border-box
        display: flex
        flex-shrink: 0
        overflow: hidden
        padding: 0.8rem 10.55rem 0.8rem 10.2rem
        position: relative
        width: 100%
        .playTxt
            color: #ffffff
            flex-shrink: 0
            font-family: Inter, 'Source Sans Pro'
            font-size: 1.4rem
            font-weight: 500
            line-height: 1.7142857143
            white-space: nowrap
        .playIcon
            flex-shrink: 0
            height: 1.4rem
            margin-right: 1.375rem
            object-fit: contain
            vertical-align: top
            width: 1.775rem
            color: #ccc
    .conhecerLoja
        align-items: center
        border: solid 0.1rem rgba(255, 255, 255, 0.200000003)
        border-radius: 0.8rem
        box-shadow: 0 0.1rem 0.2rem rgba(18, 18, 23, 0.0500000007)
        box-sizing: border-box
        display: flex
        flex-shrink: 0
        overflow: hidden
        padding: 0.8rem 9.75rem 0.8rem 9.825rem
        position: relative
        width: 100%
        background-color: transparent
        .clIcon
            flex-shrink: 0
            height: 1.475rem
            margin: 0.025rem 0.95rem 0rem 0rem
            object-fit: contain
            vertical-align: top
            width: 1.775rem
            color: #ccc
        .clTxt
            color: #ffffff
            flex-shrink: 0
            font-family: Inter, 'Source Sans Pro'
            font-size: 1.4rem
            font-weight: 500
            line-height: 1.7142857143
            white-space: nowrap
    .stunRank
        align-items: center
        border: solid 0.1rem rgba(255, 255, 255, 0.200000003)
        border-radius: 0.8rem
        box-shadow: 0 0.1rem 0.2rem rgba(18, 18, 23, 0.0500000007)
        box-sizing: border-box
        display: flex
        flex-shrink: 0
        overflow: hidden
        padding: 0.8rem 10.35rem 0.8rem 10.2rem
        position: relative
        width: 100%
        background-color: transparent
        .srIcon
            lex-shrink: 0
            height: 1.45rem
            margin-right: 1.375rem
            object-fit: contain
            vertical-align: top
            width: 1.575rem
            color: #ccc
        .srTxt
            color: #ffffff
            flex-shrink: 0
            font-family: Inter, 'Source Sans Pro'
            font-size: 1.4rem
            font-weight: 500
            line-height: 1.7142857143
            white-space: nowrap
